.container {
  background-color: #f0ede6;
  height: 100vh;
  width: 100%;
}

.wrapper {
  padding: 10% 5%;
  background-color: #f0ede6;
}

.title h1 {
  color: #06151c;
  margin: 0;
  margin-bottom: 10px;
}

.Gallerygrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin: 0;
}

.Gallerygrid img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5px;
    transition: transform ease .3s;
    cursor: pointer;
}

.Gallerygrid img:hover {
    transform: scale(1.03); 
}

@media (max-width: 900px) {
  .container {
    height: max-content;
  }
  
  .wrapper {
    padding: 5%; 
    
  }

  .Gallerygrid {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    gap: 5px; 
    
  }

  .Gallerygrid img {
    border-radius: 4px; 
  }
}