.btn {
    background-color: #e1ad81;
    width: max-content;
    justify-self: end;
    color: #06151c;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius ease 0.3s;
    overflow: hidden;
    position: relative;
    min-width: 90px;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn p{
    font-size: 1em;
  }
  
  .btn:hover {
    border-radius: 5px;
  }

  .error {
    color: red;
    font-weight: 100;
  }