.btn {
    background-color: #e1ad81;
    width: max-content;
    justify-self: end;
    color: #06151c;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius ease 0.3s;
    margin-top: 15px;
  }
  
  .btn:hover {
    border-radius: 5px;
  }