.mainImageContainer {
    width: 350px;
}

.mainImageContainer img {
    max-width: 100%;
    border-radius: 8px;
}

/* image select */
.imgScrollContainer {
    width: 350px;
    padding: 10px 0;
    overflow-x: scroll;
}

.ImgContainer {
    width: 75px;
    display: flex;
    gap: 4px;
    
}

.ImgContainer img {
    max-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 1020px) {
    .mainImageContainer {
        width: 250px;
        
    }
    .imgScrollContainer {
        width: 100%;
    }
  }

  @media (max-width: 400px) {
    .mainImageContainer {
        width: 200px;
        
    }
}
