.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 100px);
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-color: #06151c;
}
.wrapper {
  display: flex;
  margin-top: 70px;
  margin-left: 200px;
  justify-content: space-between;
  max-width: fit-content;
  position: relative;
}
.image {
  width: 1000px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -200px;
  margin-top: -110px;
  z-index: 100;
}

.title p {
  font-size: 2rem;
}

.title h1 {
  font-size: 4rem;
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding-left: 25px;
}
.description p {
  font-size: 1.2rem;
  font-weight: 200;
}
.description a {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 1440px) {
  .title p {
    font-size: 1.3rem;
  }

  .title h1 {
    font-size: 3rem;
    margin: 0;
  }

  .description p {
    font-size: 1rem;
    font-weight: 200;
  }
  .image {
    width: 600px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .title {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -200px;
    margin-top: -80px;
    z-index: 100;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin-left: 0;
  }
  .image {
    width: 650px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .title {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: -75px;
    z-index: 100;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
  }
  .container {
    height: 100svh;
  }
  .image {
    width: 500px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .title {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: -55px;
    z-index: 100;
  }
  .title p {
    font-size: 1rem;
  }

  .title h1 {
    font-size: 2rem;
    margin: 0;
  }

  .description p {
    font-size: 0.9rem;
    font-weight: 200;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 175px;
    padding-left: 25px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    height: 100svh;
  }
  .wrapper {
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 0 10px;
    margin-top: 100px;
  }
  .image {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .title {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: -55px;
    z-index: 100;
    max-width: 100%;
  }
  .title p {
    font-size: 4vw;
  }

  .title h1 {
    font-size: 8vw;
    margin: 0;
  }

  .description p {
    font-size: 3vw;
    font-weight: 200;
    text-align: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin-top: 16px;
    padding-left: 0;
  }
}
