.container {
  background-color: #06151c;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  overflow-x: hidden;
}
.copied {
  color: #06151c;
  position: absolute;
  margin-top: 10px;
}

.copied2 {
  width: 100%;
  background-color: #e1ad81;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}


.btn {
  background-color: #e1ad81;
  color: #06151c;
  width: max-content;
  height: 3rem;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 45px auto;
  transition: border-radius ease 0.3s;
  display: flex;
  align-items: center;
}

.btn:hover {
  border-radius: 5px;
}

.title {
  text-align: center;
  width: 90%;
  padding: 0 15px;
}

.title p {
  font-size: 1.5rem;
}

.title span {
  font-size: 56px;
  margin-bottom: 85px;
}

.middle {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  width: 350px;
}

.card h1 {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.card p {
  font-size: 17px;
  font-weight: 200;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 40px;
}
.spacer {
  display: flex;
  flex-grow: 1;
}
.circleIcon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: #e1ad81 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color ease 0.4s, color ease 0.3s;
  color: #e1ad81;
}

.circleIcon:hover {
  background-color: #e1ad81;
  color: #06151c;
}

.circleIcon i {
  font-size: 25px;
  text-align: center;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #585a5c;
  padding: 10px;
}


@media (max-width: 900px) {
  .circleIcon {
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 425px) {
  .circleIcon {
    width: 65px;
    height: 65px;
  }
  .bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 40px;
  }
}