body {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-image: url("./IMG_6374.jpg");
  background-size: cover;
  background-position: bottom;
}

.spacer {
  flex-grow: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(6, 21, 28);
  background: -moz-linear-gradient(
    180deg,
    rgba(6, 21, 28, 0) 40%,
    rgba(6, 21, 28, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(6, 21, 28, 0) 40%,
    rgba(6, 21, 28, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(6, 21, 28, 0) 40%,
    rgba(6, 21, 28, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06151c",endColorstr="#06151c",GradientType=1);
}

.title {
  align-self: center;
}

.title h1 {
  font-size: 6vw;
  font-weight: 600;
  margin: 15px 0;
}

.title p {
  text-align: left;
  font-size: 1.8vw;
}

.bottomHero {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
  align-self: flex-end;

  z-index: 99;
}

.bottomLeft {
  display: flex;
  width: 33.33%;
  justify-content: center;
  font-size: 1vw;
  font-weight: 300;
}

.bottomRight {
  display: flex;
  width: 33.33%;
  justify-content: center;
  font-size: 1vw;
  font-weight: 300;
}

.bottomLeft p {
  width: 85%;
}
.circle {
  width: 150px;
  height: 150px;
  border: solid 1px #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

@keyframes moveDown {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(55px);
  }

  100% {
    transform: translateY(200px);
  }
}

.circle span {
  font-weight: 100;
  font-size: 2.6em;
  color: #eee;
  animation: moveDown 5s infinite;
  transform: translatey(-100px);
}

@media (max-width: 768px) {
  .container {
    background-position: center center;
  }

  .bottomHero {
    flex-direction: column;
    align-items: center;
  }
  .title h1 {
    font-size: 10vw;
    font-weight: 400;
    margin: 15px 0;
  }

  .title p {
    text-align: center;
    font-size: 5vw;
  }

  .circle {
    width: 100px;
    height: 100px;
  }
  .bottomLeft {
    font-size: 1rem;
    margin: 15% 0;
    width: 100%;
    width: 99vw;
  }
  .bottomRight {
    display: none;
  }
}
