h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 25px;
}

.mainPhoto {
  width: 700px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  margin: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.content p {
  width: 35%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.mainPhoto img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 8px;
}
