a {
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(6, 21, 28, 0);
  transition: background-color ease .9s;
  top: 0;
 height: 50px;
}

.navContainer.scrolled {
  background-color: rgb(6, 21, 28);
}

.navContainer nav {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 1200px; /* Add a max-width for larger screens */
  
}

.navRight span {
  color: #ffffff;
}

.icon {
  padding: 0 15px;
  transition: scale ease .4s;
}

.spacer {
  flex-grow: 1;
}

.cart {
  display: inline-block;
  margin: auto;
  padding-right: 1%;
  cursor: pointer;
  transition: transform ease .8s;
}

.cartDownMenu {
  background-color: #f0ede6;
  max-height: 100px;
  overflow-y: scroll;
  width: 200px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 1%;
  padding: 10px;
  animation: fadeIn 0.6s ease-in-out;
  border: solid rgba(6, 21, 28, 0.226) 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(6, 21, 28);
  cursor: auto;
}

.cartDownMenu h2 {
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.cartDownMenu a {
  text-decoration: underline;
  color: rgb(6, 21, 28);
}

.icon:hover {
  scale: 105%;
}

.navRight {
  padding: 0 15px;
  cursor: pointer;
  transition: transform ease .2s;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropDownMenu {
  width: 100px;
  border-radius: 5px;
  background-color: #f0ede6;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  animation: fadeIn 0.4s ease-in-out;
  border: solid rgba(6, 21, 28, 0.226) 1px;
}

.dropDownMenu a {
  text-decoration: none;
  color: rgb(6, 21, 28);
  border-radius: 5px;
  padding: 5px;
  transition: background-color ease .3s;
}

.dropDownMenu a:hover {
  background-color: rgb(213, 216, 219);
}

@media (max-width: 768px) {
  .navContainer nav {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .dropDownMenu {
    margin-left: -100px;
  }
}
