a {
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  background-color: rgba(6, 21, 28, 0);
  transition: background-color ease 0.9s;
  top: 0;
  height: 50px;
  color: #06151c;
  background-color: rgb(6, 21, 28);
  color: #f0ede6;
}

.navContainer.scrolled {
  background-color: rgb(6, 21, 28);
}

.navContainer nav {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  z-index: 999;
}

.icon {
  padding: 15px;
  transition: scale ease 0.4s;
  width: 80px;
}

.spacer {
  flex-grow: 1;
}

.cart {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-right: 35px;
  cursor: pointer;
  transition: transform ease 0.8s;
}

.cartCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #e1ad81;
  color: white;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  font-size: 10px;
}

.cart i {
  font-size: 24px;
}
.icon:hover {
  scale: 105%;
}

.navRight {
  padding: 0 15px;
  cursor: pointer;
  transition: transform ease 0.2s;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropDownMenu {
  width: 100px;
  border-radius: 5px;
  background-color: #f0ede6;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  animation: fadeIn 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0px 59px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 59px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 59px -20px rgba(0, 0, 0, 0.75);
  margin-top: 25px;
}

.dropDownMenu a {
  text-decoration: none;
  color: rgb(6, 21, 28);
  border-radius: 5px;
  padding: 5px;
  transition: background-color ease 0.3s;
}

.dropDownMenu a:hover {
  background-color: rgb(213, 216, 219);
}

@media (max-width: 768px) {
  .navContainer nav {
    width: 90%;
  }

  .dropDownMenu {
    margin-left: -100px;
  }
}
