.anchor a {
  text-decoration: none;
}

.cartDownMenu {
  background-color: #f0ede6;
  min-height: 100px;
  overflow-y: scroll;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  
  padding: 25px;
  animation: fadeIn 0.6s ease-in-out;
  -webkit-box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(6, 21, 28);
  cursor: auto;
  margin-top: 25px;
}

.cartDownMenu h2 {
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.cartDownMenu a {
  text-decoration: none;
  color: rgb(6, 21, 28);
}

.viewCart {
  display: flex;
  height: 2rem;
  width: auto;
  padding: 4px;
  border-radius: 25px;
  transition: border-radius .4s ease;
  text-align: center;
  margin-top: 15px;
  background-color: #e1ad81;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.viewCart:hover {
 border-radius: 8px;
}


.cartDownMenu img {
  width: 100%;
}

.itemCard {
  margin: 10px 0;
  padding: 25px;
  border-radius: 8px;
  
  
}

.itemCard h3 {
  padding: 0;
  margin: 0;
}

.price {
  font-weight: 600;
}
p span {
  font-weight: 600;
}

.cartItems {
  overflow-y: scroll;
  width: 100%;
  max-height: 300px;
}
.cartDropHeader {
  width: 100%;
  margin-bottom: 25px;
}
.cartDropHeader span{
  font-weight: 700;
  font-size: 1.125rem;
    line-height: 1.75rem;
}

.cartDropHeader p {
  font-weight: 400;
}
.cartContent {
  width: 100%;
}