.btn {
    background-color: #e1ad81;
    color: #06151c;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    width: fit-content;
    transition: border-radius ease 0.3s;
}

.btn:hover {
    border-radius: 8px;
}