.btn {
    background-color: #e1ad81;
    color: #06151c;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-radius ease .5s;
}

.btn:hover {
    border-radius: 2px;
}