.btn {
    background-color: #e1ad81;
    color: #06151c;
    padding: 8px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: background-color .3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #e1ae81e5;
}