h2 {
  margin: 0;
  padding: 0;
}
.cartHeader {
  padding-bottom: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 100px 0;
}
.cartCard {
  width: 60vw;
  height: fit-content;
  background-color: #f0ede6;
  color: #06151c;
  border-radius: 8px;
  padding: 25px;
}

.itemImg img {
  max-width: 100%;
  mix-blend-mode: multiply;
  border-radius: 4px;
}
.itemImg {
  width: 200px;
}
.cartContent {
  padding: 0 100px;
}

.itemCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #06151c44;
  height: 250px;
}

.cartItemDetail {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.spacer {
  flex-grow: 1;
}

.price {
  font-size: 1.2rem;
}

.itemDesc {
  width: fit-content; 
  max-height: 90%;
  overflow-y: hidden;
}

.delete {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 15px;
  color: #db0202;
  border: #db0202 solid 2px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.itemDetailList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

.emptyCartMessage {
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .cartCard {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .cartContent {
    padding: 0 10px;
  }
}
@media (max-width: 450px) {
  .itemDetailList {
    display: block;
    margin-left: 10px;
    
  }
  .itemDesc {
    margin: 10px 0;
  }
  .cartItemDetail {
    gap: 15px;
  }
}
@media (min-width: 2560px) {
  .cartCard {
    max-width: 40vw;
  }
}