/* .mainContainer {
  height: 1000px;

} */
.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  max-width: 100%;
  
}
.backToShop {
  background-color: #06151c00;
  color: #06151c;
  padding: 8px 20px;
  cursor: pointer;
  border: #06151c solid 1px;
  border-radius: 8px;
  transition: background-color ease 0.5s, color ease 0.5s;
}

.backToShop:hover {
  background-color: #06151c;
  color: #f0ede6;
}

/* Product card styles */
.productCard {
  background-color: #f0ede6;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 3vw;
  width: 80%;
  max-width: 1400px;

  display: flex;
  justify-content: space-around;
  margin: 100px 0;
  
}

/* Product images container styles */
.productImagesContainer {
  margin-right: 25px;
}

/* Product information styles */
.productInfo {
  color: #06151c;
  flex-grow: 1;
}

/* Name styles */
.name {
  margin-bottom: 10px;
}
.nameMobile{
  display: none;
}

/* Description styles */
.description {
  color: #4d4d4d;
  line-height: 1.5;
  /* max-height: 360px;
  overflow-y: scroll; */
  font-size: clamp(1rem, 1.0774rem + 3.7936vw, 0.825rem);
}

/* Variant container styles */
.variantContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

/* AddToCart styles */
.addToCart {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
}

/* Price styles */
.addToCart p {
  font-weight: bold;
  font-size: 1.3em;
}

@media (max-width: 1024px) {
  .productCard {
    margin-top: 60px;
    max-height: fit-content;
    display: block;
    width: fit-content;
    max-width: 75vw;
  }
  .description {
    line-height: 1.1;

  }
  .productImagesContainer {
    display: flex;
    justify-content: center;
  }
  .bottom {
    display: block;
    justify-content: start;
    align-items: center;
  }
  .productInfo{
    display: flex;
    flex-direction: column-reverse;
  }
  .itemText{
    margin-top: 26px;
  }
  .bottom {
    display: block;
  }
  .nameMobile{
    display: inline;
  }
  .name{
    display: none;
  }
}
@media (max-width: 690px) {
  .productContainer {
    height: fit-content;
    margin: 15px 0;
  }

  .productCard {
    display: block;
    max-width: 100vw;
  }
}

@media (max-width: 400px) {
  .bottom {
    display: block;
  }

  .productContainer {
    height: fit-content;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .productContainer{
    min-height: 100svh;
    padding: 0 15px;
  }
  .productInfo{
    display: flex;
    flex-direction: column-reverse;
  }
  .itemText{
    margin-top: 26px;
  }
  .bottom {
    display: block;
  }
  .nameMobile{
    display: inline;
  }
  .name{
    display: none;
  }
  .productImagesContainer {
    margin-right: 0;
  }
}
