/* Container styles */
.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  max-width: 100vw;
  
}
.backToShop {
  background-color: #06151c00;
  color: #06151c;
  padding: 8px 20px;
  cursor: pointer;
  border: #06151c solid 1px;
  border-radius: 8px;
  transition: background-color ease .5s, color ease .5s;
}

.backToShop:hover {
  background-color: #06151c;
  color: #f0ede6;
}

/* Product card styles */
.productCard {
  background-color: #f0ede6;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 3vw;
  width: 90%;
  max-width: 1200px;
  max-height: 80vh;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Product images container styles */
.productImagesContainer {
  margin-right: 25px;
}

/* Product information styles */
.productInfo {
  color: #06151c;
  flex-grow: 1; 
}

/* Name styles */
.name {
  margin-bottom: 10px; 
}

/* Description styles */
.description {
  color: #4d4d4d; 
  line-height: 1.5; 
  max-height: 360px;
  overflow-y: scroll;
  font-size: clamp(1rem, 1.0774rem + 3.7936vw, .825rem);
}

/* Variant container styles */
.variantContainer {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-top: 25px;
}

/* AddToCart styles */
.addToCart {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-top: 40px; 
}

/* Price styles */
.addToCart p {
  font-weight: bold; 
  font-size: 1.3em;
}

@media (max-width: 830px) {
  .productContainer {
    margin: 100px 0;
  }
  .productCard {
    margin-top: 60px;
    max-height: fit-content;
    display: block;
    width: 95vw;
  }
  .description {
    line-height: 1.1;
    max-height: 150px;
  }
  .productImagesContainer {
    display: flex;
    justify-content: center;
    
  }
  .bottom {
    display: block;
    justify-content: start;
    align-items: center;
  }

}
@media (max-width: 690px) {
  .productContainer {
    margin: 150px 0;
  }

  .productCard {
    display: block;
  }

  .description {
    max-height: 100px;
  }
}

@media (max-width: 400px) {
  .bottom {
    display: block;
  }
  .description {
    max-height: 150px;
    
  }
  .productContainer {
    margin: 150px 0;
  }
}

@media (max-width: 320px) {
  .bottom {
    display: block;
  }
  .description {
    max-height: 150px;
    
  }
  .productContainer {
    margin: 150px 0;
  }
}