body {
  background-color: #06151c;
}

.container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  height: 99vh;
  max-width: 99vw;
  margin: 0 15%;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.container2 {
  max-width: 99vw;
  color: #f0ede6;
  background-color: #f0ede6;;
  text-align: left;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;
  height: calc(100% + 100px);
  background-image: url("./IMG_5881.jpg");
  background-position:  center;
  background-size: cover;

}

.container2 h1 {
  font-size: 3.5em;
  margin-bottom: 0; 
  margin-top: 7%;
   
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Query for smaller screens */
/* @media only screen and (max-width: 768px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
      margin: 5%;
  }
} */

@media only screen and (min-width: 2560px) {
  .container {
    height: 75vh;
  }
}

@media (max-width: 425px) {
  .container2 h1{
    margin-top: 50px; 
    text-align: center;  
    font-size: 2.5em;  
  }
}